.row
  .col-xs-12
    %table.table
      %thead
        %tr
          %th= Widgit::Page.human_attribute_name(:title)
      %tbody
        = render partial: "page", collection: @pages
  .col-xs-12
    = link_to t('.new'), new_admin_page_path, class: 'btn btn-primary'
