.row
  .col-xs-12
    %h2= Widgit::Page.human_attribute_name(:Pages)
    .row
      .col-xs-4
        .panel.panel-default.page-thumbnail
          .panel-heading
            %h3.panel-title
              Create new Page
          .panel-body.text-center

            = link_to icon('plus-circle'), new_admin_page_path, title: t('.new'), class: 'btn fa-2x', data: { toggle: 'tooltip', container: 'body' }

      = render partial: "page", collection: @pages

