= render layout: 'widgit/components/component', locals: { component: icon } do
  %span.component-icon{class: "text-align-#{icon.text_align}"}
    %div{class: "fa-#{icon.icon} fa", data: { toggle: 'icon' }}
