= render layout: 'widgit/components/component', locals: { component: header } do
<<<<<<< HEAD
  = content_tag "h#{header.level}", class: 'component-header', data: { editor: 'text' } do
=======
  %h2.h2.component-header{ data: { editor: 'text' } }
>>>>>>> text confi
    = raw header.text
