%div{ class: "component col-sm-#{component.columns}", data: { resource: 'component', attributes: component.to_json } }
  = render_widget "widgit/#{component.component_type}", :display, component: component
