.component{ data: { resource: 'component', attributes: component.to_json, id: component.id, disabled: component.disabled } }
  = yield
  - if component.disabled
    .handle.btn.btn-default.fa{ class: "fa-#{component.component_type}", data: { toolbar: 'handle' } }
