
.grid-editor-active {
  .block {
    div, h2, img, span, & { 
      &::selection{ background-color: transparent;}
      &::moz-selection{ background-color: transparent;}
      &::webkit-selection{ background-color: transparent;}    
    }
  }

  .tile {
    @extend .tile-highlight;
  }

  .color-white {
    background-color: #f5f5f5;

    .tile {
      @extend .tile-highlight-inverted;
    }    
  }

  .btn-drag-boxes {
    @extend .btn-info;
  }

}

.cut-overlay {
  position: absolute;
  display: none;
  text-align: right;
  width: 100%;
  height: 100%;
  //margin-left: $grid-gutter-width / 4;
  top: 0;

  .overlay-column {
    @extend .middle;

    border-right: 2px dashed $gray-light;
    height: 100%;

    -webkit-justify-content: flex-end;
    justify-content: flex-end; 
  }

  a {  
    margin-right: -35px;

    // Todo: install Compass
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);  
  }
}

.merge-overlay,
.cut-overlay a {
  display: block;
  background-color: $gray-dark;
  padding: 10px;
  font-size: 18px;
  color: #fff !important;
  border-radius: 20px;

  &:active,
  &:hover {
    background-color: $gray-light;    
  }
}

.merge-overlay {
  margin-top: 10px;
  position: absolute;
  display: none;
  line-height: 0;
  right: 0;
  top: 0;
  margin-right: -20px;
  z-index: 999;
}

.grid-editor-active {
  .cut-overlay { 
    display: block;
  }

  .merge-overlay {
    display: block;
  }  
}