$off-canvas-width: 300px;

.off-canvas {
  @extend .easy-transition;
  @extend .text-invert;

  position: fixed;
  top: 0;
  left: -$off-canvas-width;
  height: 100%;
  width: $off-canvas-width;
  background: #222;
  padding: 15px;
  z-index: 999;

  i {
    @extend .easy-transition;
  }

  &.active {
    left: 0;

    i {
      -webkit-transform:rotate(-180deg);
      -moz-transform:rotate(-180deg);
      -o-transform:rotate(-180deg);
    }

    .toggle {
      cursor: pointer;
      left: 255px;
      color: #ccc;
      z-index: 99;
    }
  }

  .toggle {
    @extend .fa-2x;
    @extend .absolute;
    @extend .easy-transition;

    cursor: pointer;
    padding-left: 10px;
    top: 0;
    left: $off-canvas-width;
    color: $brand-primary;
  }

  input {
    @extend .full-width;

    color: $gray-darker;
  }

  .slider-labels {
    @extend .full-width, .gt-top;

    padding: 0;
    list-style: none;

    li {
      @extend .inline-block, .text-center;    

      width: 33.3%;
      font-size: 10px;

      &:first-child {
        @extend .text-left;
      }

      &:last-child {
        @extend .text-right;  
      }
    }
  }
}

/* Pushing all body content to right, when sidepanel is active */

.offcanvas-active {
  margin-left: $off-canvas-width;
}

body {
  @extend .easy-transition;
}

