
/* ==== TOOLBAR ==== */ 
.toolbar-bottom {
  @extend .easy-transition;  

  position: fixed;
  left: 0;
  right: 0;
  bottom: -60px;
  padding-top: 10px;
  background-color: $gray-dark;
  z-index: 1000;
  i {
    font-size: 16px;
  }
}

.toolbar-toggle {
  @extend .absolute, .pointer;

  top: 0;
  left: 50%;
  width: 60px;
  height: 40px;
  padding: 14px;
  margin-left: -30px;
  margin-top: -40px;
  color: #fff;
  background-color: $gray-dark;

  -webkit-border-radius: 35px 35px 0px 0px;
  border-radius: 35px 35px 0px 0px;

  i {
    font-size: 20px;
  }
}

.toolbar-divider {
  margin-left: 15px;
  padding-left: 20px !important;
  border-left: 2px solid $gray;
}

.component-toolbar {

  .component {
    padding: 0;
    margin: 0;
    border: none;

    :not(.handle) {
      display: none;
    }
  }
}

.btn-component {
  @extend .middle;

  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $gray-light;
    color: #fff;
  }

  &:active {
    background-color: $brand-info;
    color: #fff;
  }
}

.built-mode {
  .toolbar-bottom {
    bottom: 0;
  }

  .add-block {
    display: block;
  }
}

.drag-boxes {
  .tile {
    @extend .tile-highlight;

    .component {
      @extend .component-highlight;
    }
  }

  .color-white {
    background-color: #f5f5f5;

    .tile {
      @extend .tile-highlight-inverted;

      .component {
        @extend .component-highlight-inverted;
      }
    }    
  }

  .btn-drag-boxes {
    @extend .btn-info;
  }
}

@-webkit-keyframes pulse {
  0% { color: $brand-success; } 
  50% { color: $brand-info; }
  100% { color: $brand-success; }
}