body {
  padding-top: 50px;
}

.draggable {
  outline: #ccc dashed thin;
}

.block {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.absolute {
  position: absolute;
}

.tile {
  min-height: 50px;
  background-color: grey;
}

.widget {
  padding: $padding-large-vertical;

  border: 1px solid transparent; /* needs to be set so the element dont jump when hovering */

  &:hover {
    border: 1px solid #e1e1e1;
    border-radius: 2px;
  }
}

.component-image {
  @extend .pointer;
}

.component-image {
  cursor: text;
}
