.row.block{ class: "background-color-#{block.background_color}", style: "background-image: url(#{block.background_image.try(:url)});", data: { resource: 'block', id: block.id, attributes: block.to_json } }
  .container
    .row
      = render block.columns
