%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    %ul.nav.navbar-nav
      %li
        %button.btn.btn-default.navbar-btn{ type: 'button', data: { toggle: 'save' } }
          Save
      %li
        %button.btn.btn-default.navbar-btn{ type: 'button', data: { toggle: 'reorder' } }
          Reorder
