.off-canvas{ data: { init: 'panel' } }
  .toggle{ data: { toggle: 'off-canvas' } }
    = icon 'caret-square-o-right'
  .col-xs-12
    - resource_classes.each do |resource_class|
      .hidden{ data: { panel: resource_class.model_name.element } }
        %h2= resource_class.model_name.human
        = widgit_form_for resource_class.new, url: '#' do |f|
          - resource_class.configurable_attributes.each do |attribute|
            = f.input attribute.name, as: attribute.input_type, input_html: { data: { input: attribute.data_type, attr: attribute.name } }

  .col-xs-12
    %button.btn.btn-default{ type: 'button', data: { panel: 'back' } }
      Back

