.toolbar-bottom.text-center{ data: { init: 'toolbar' } }
  / %button.btn.btn-default{ type: "button", data: { toolbar: 'remove' } }
  /   Remove
  %div.toolbar-toggle{ data: { toggle: 'toolbar' } }
    %i.fa.fa-wrench


  %ul.list-inline
    - Widgit::Component.types.each do |type|
      %li.component-toolbar{ data: { toolbar: 'component' } }
        = render "Widgit::Components::#{type.titleize}".constantize.new(disabled: true)
    %li.toolbar-divider
      .btn.btn-default.btn-drag-boxes{ type: 'button', data: { toggle: 'drag-boxes' } }
        %i.fa.fa-arrows

    %li.toolbar-divider
      .btn.btn-success{ data: { toggle: 'save' }}
        %i.fa.fa-floppy-o
