<!DOCTYPE html>
<html>
<head>
  <title>Widgit</title>
  <%= stylesheet_link_tag    "widgit/application", media: "all" %>
  <%= javascript_include_tag "widgit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
