$colors: white #ffffff,
         blue  #3498db,
         green #71D07D,
         yellow #D0C071,
         light-gray #ecf0f1,
         red #D07171;

@each $color in $colors {
  .color-#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
}

.color-list-item {
  @extend .inline-block;

  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid $gray-lighter;
}

/* TODO make better solution for this */
.color-blue,
.color-green,
.color-red {
  @extend .text-invert;
}
